In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore",category = FutureWarning)

In [13]:
data = pd.read_csv(r"archive (1)\train.csv")
pd.concat([data,pd.read_csv(r"archive (1)\test.csv")],axis = 0)
data = data.sample(10000)

In [14]:
categories = {col : data[col].unique().tolist() for col in data.select_dtypes(include = ["object"]).columns}
categories

{'Product_ID': ['P00170342',
  'P00019342',
  'P00220242',
  'P00066742',
  'P00137242',
  'P00116742',
  'P00151742',
  'P00117542',
  'P00294442',
  'P00071442',
  'P00276342',
  'P00114442',
  'P00111042',
  'P00045342',
  'P00084242',
  'P00270942',
  'P00109742',
  'P00222242',
  'P00086242',
  'P00250842',
  'P00045842',
  'P00257642',
  'P00221342',
  'P00083942',
  'P00293242',
  'P00220442',
  'P00304442',
  'P00005042',
  'P00251242',
  'P00281942',
  'P00135342',
  'P00102442',
  'P00248542',
  'P00147942',
  'P00024042',
  'P00237542',
  'P00296942',
  'P00017542',
  'P00212242',
  'P00053842',
  'P00352842',
  'P00103042',
  'P00101342',
  'P00026042',
  'P00166742',
  'P00080342',
  'P00010242',
  'P00090942',
  'P00032042',
  'P00275142',
  'P00312742',
  'P00150542',
  'P00057642',
  'P00029942',
  'P00260042',
  'P00002942',
  'P00012142',
  'P00178042',
  'P0097242',
  'P00260142',
  'P00021842',
  'P00196642',
  'P00041242',
  'P00174442',
  'P00115842',
  'P00211042',
  'P00142142',
  'P00298442',
  'P00176142',
  'P00206342',
  'P00127842',
  'P00029542',
  'P00289942',
  'P00322142',
  'P00193042',
  'P00123842',
  'P00332242',
  'P00002042',
  'P00044442',
  'P00022542',
  'P00051442',
  'P00375436',
  'P00265242',
  'P00179342',
  'P00356942',
  'P00196542',
  'P00255942',
  'P00344242',
  'P0097142',
  'P00113042',
  'P00183342',
  'P00210942',
  'P00248342',
  'P00003942',
  'P00018942',
  'P00052942',
  'P00119342',
  'P00161542',
  'P00158342',
  'P00102142',
  'P00246242',
  'P00046742',
  'P00106742',
  'P00248142',
  'P00112942',
  'P00177042',
  'P00128242',
  'P00032542',
  'P00000142',
  'P00024242',
  'P00072742',
  'P00318142',
  'P00205642',
  'P00145442',
  'P00118842',
  'P00032342',
  'P00367142',
  'P00286742',
  'P00190542',
  'P00320442',
  'P00249542',
  'P00082342',
  'P00004842',
  'P00107642',
  'P00089042',
  'P00059442',
  'P00177842',
  'P00265142',
  'P00108842',
  'P00092642',
  'P00346242',
  'P00199442',
  'P00304642',
  'P00288142',
  'P00064242',
  'P00279642',
  'P00241542',
  'P00181842',
  'P00313542',
  'P00194042',
  'P00012542',
  'P00301842',
  'P00070042',
  'P00259942',
  'P00058642',
  'P00117142',
  'P00074342',
  'P00339842',
  'P00114042',
  'P00083842',
  'P00302742',
  'P00271142',
  'P00165742',
  'P00129642',
  'P00126642',
  'P00078542',
  'P00197542',
  'P00087142',
  'P00178842',
  'P00322942',
  'P00142942',
  'P00284042',
  'P00253042',
  'P00113342',
  'P00024742',
  'P00010542',
  'P00278642',
  'P00156142',
  'P00001342',
  'P00035942',
  'P00215542',
  'P00246142',
  'P00263342',
  'P00160042',
  'P00003242',
  'P00025042',
  'P00228242',
  'P00288642',
  'P00323842',
  'P00085942',
  'P00249642',
  'P00157642',
  'P00033542',
  'P00234742',
  'P00350942',
  'P00117942',
  'P00336942',
  'P00317842',
  'P00257042',
  'P00052042',
  'P00173742',
  'P00111742',
  'P00328242',
  'P00106042',
  'P00351642',
  'P00002842',
  'P00244742',
  'P00057742',
  'P00112342',
  'P00214642',
  'P00086842',
  'P00348342',
  'P00260442',
  'P00057242',
  'P00192842',
  'P00158242',
  'P00337642',
  'P00031042',
  'P00188242',
  'P00057442',
  'P0094842',
  'P00132842',
  'P00193742',
  'P00084442',
  'P00274242',
  'P00171642',
  'P00270842',
  'P00000242',
  'P00090842',
  'P00357842',
  'P00214842',
  'P00140742',
  'P00223942',
  'P00073842',
  'P00324942',
  'P00026842',
  'P00313042',
  'P00333042',
  'P00231142',
  'P00175242',
  'P00067542',
  'P00100442',
  'P00067942',
  'P00028542',
  'P00085642',
  'P00001842',
  'P00189042',
  'P00148242',
  'P00002642',
  'P00193242',
  'P00204342',
  'P00183442',
  'P00046842',
  'P00010842',
  'P00357142',
  'P00127642',
  'P00060242',
  'P00018142',
  'P00260242',
  'P00153742',
  'P00274442',
  'P00258742',
  'P00147742',
  'P00123142',
  'P00193642',
  'P00324642',
  'P00327842',
  'P00207342',
  'P00368542',
  'P00344542',
  'P00042942',
  'P00246642',
  'P00183042',
  'P00230942',
  'P00196442',
  'P00271842',
  'P00370853',
  'P00140042',
  'P00172842',
  'P00253242',
  'P00344842',
  'P00145842',
  'P00238442',
  'P00214142',
  'P00286842',
  'P0097342',
  'P00304142',
  'P00259342',
  'P00251542',
  'P00036742',
  'P00044642',
  'P00191042',
  'P00269742',
  'P00194442',
  'P00173842',
  'P00177742',
  'P00073642',
  'P00310142',
  'P00238542',
  'P00205442',
  'P00033042',
  'P00302142',
  'P00317942',
  'P00214442',
  'P00046142',
  'P00184942',
  'P00124242',
  'P00058042',
  'P00121142',
  'P00194642',
  'P00104542',
  'P00322042',
  'P00145942',
  'P00221442',
  'P00180342',
  'P00244142',
  'P00355142',
  'P00209842',
  'P00248642',
  'P00254242',
  'P00118942',
  'P00087042',
  'P00058242',
  'P00269642',
  'P00339542',
  'P00007542',
  'P00192542',
  'P00329542',
  'P00320942',
  'P00326742',
  'P00364042',
  'P00111542',
  'P00234842',
  'P00031442',
  'P00334242',
  'P00210042',
  'P00108042',
  'P00015342',
  'P00177942',
  'P00294142',
  'P00121342',
  'P00282642',
  'P00187042',
  'P00313842',
  'P00233342',
  'P00327742',
  'P00345742',
  'P00177342',
  'P00178642',
  'P00145042',
  'P00004242',
  'P00204242',
  'P00028842',
  'P00358242',
  'P00109542',
  'P00186642',
  'P00206442',
  'P00113142',
  'P00339242',
  'P00084842',
  'P00240242',
  'P00330342',
  'P00088042',
  'P00103342',
  'P00179642',
  'P00128942',
  'P00195442',
  'P00243842',
  'P00179042',
  'P00033642',
  'P00150942',
  'P00141542',
  'P00178242',
  'P00173342',
  'P00362342',
  'P00088942',
  'P00070942',
  'P00316642',
  'P00249742',
  'P00258842',
  'P00112142',
  'P00221142',
  'P00112442',
  'P00001142',
  'P00314642',
  'P00336742',
  'P00213242',
  'P00204842',
  'P00051842',
  'P00032842',
  'P00011842',
  'P00117342',
  'P00110942',
  'P00057542',
  'P00114842',
  'P00346342',
  'P00111242',
  'P00041942',
  'P00156442',
  'P00254442',
  'P00313442',
  'P00034842',
  'P00126442',
  'P00242142',
  'P00331042',
  'P00295942',
  'P00196842',
  'P00250342',
  'P00177642',
  'P00302542',
  'P00052842',
  'P00110042',
  'P00220142',
  'P00343442',
  'P00370242',
  'P00130742',
  'P00170442',
  'P00271442',
  'P00333542',
  'P00111142',
  'P00250642',
  'P00155142',
  'P00294542',
  'P00201442',
  'P00323942',
  'P00120342',
  'P0098342',
  'P00229742',
  'P00283942',
  'P00346142',
  'P00285542',
  'P00267742',
  'P00029242',
  'P00034242',
  'P00031142',
  'P00356742',
  'P00174242',
  'P00302642',
  'P00249842',
  'P00199342',
  'P00100842',
  'P00006942',
  'P00290042',
  'P00217742',
  'P00265642',
  'P00219242',
  'P00108642',
  'P00030542',
  'P00176842',
  'P00161942',
  'P00207942',
  'P00303542',
  'P00116842',
  'P00030642',
  'P00114342',
  'P00276642',
  'P00311342',
  'P00032442',
  'P00005742',
  'P00058342',
  'P00052442',
  'P00126142',
  'P00335442',
  'P00266542',
  'P00003442',
  'P00148642',
  'P00284842',
  'P00279542',
  'P00221242',
  'P00233442',
  'P00331242',
  'P00323442',
  'P00127442',
  'P00062842',
  'P00001042',
  'P00083242',
  'P00355442',
  'P0097742',
  'P00101042',
  'P00063342',
  'P00242342',
  'P00150342',
  'P00066242',
  'P00108442',
  'P00365242',
  'P00169742',
  'P0099342',
  'P00020642',
  'P00102642',
  'P00136542',
  'P00253142',
  'P00086442',
  'P00267042',
  'P00146742',
  'P00282242',
  'P00190942',
  'P00334042',
  'P00127942',
  'P00289242',
  'P00100942',
  'P00274942',
  'P00053342',
  'P00196342',
  'P00266242',
  'P00215642',
  'P00154642',
  'P00103242',
  'P00321942',
  'P00127242',
  'P00292742',
  'P00318742',
  'P00277642',
  'P00190142',
  'P00233642',
  'P00143342',
  'P00084742',
  'P00218042',
  'P00013642',
  'P00115642',
  'P00183242',
  'P00216042',
  'P00288342',
  'P00269442',
  'P00024842',
  'P00155642',
  'P00047242',
  'P00088742',
  'P00255742',
  'P00307642',
  'P00247042',
  'P00372445',
  'P00356042',
  'P00302842',
  'P00232342',
  'P00042742',
  'P00237642',
  'P00339042',
  'P00068942',
  'P00191442',
  'P00016842',
  'P00161242',
  'P00102042',
  'P00148542',
  'P00250542',
  'P00102342',
  'P00225542',
  'P00064542',
  'P00263542',
  'P00368442',
  'P00191142',
  'P00085042',
  'P00206042',
  'P00250942',
  'P00005142',
  'P00117442',
  'P00242742',
  'P00149942',
  'P00190242',
  'P00082442',
  'P00259842',
  'P00182242',
  'P00201742',
  'P00112642',
  'P00270242',
  'P00150842',
  'P00281742',
  'P00000542',
  'P00190042',
  'P00114742',
  'P00351042',
  'P00057942',
  'P00154442',
  'P00361842',
  'P00371644',
  'P00243942',
  'P00256842',
  'P00119142',
  'P00277442',
  'P00223242',
  'P00022942',
  'P00299142',
  'P00122542',
  'P00293342',
  'P00177442',
  'P00205142',
  'P00194242',
  'P00154042',
  'P00025442',
  'P00075942',
  'P00303142',
  'P00362742',
  'P00115542',
  'P00088342',
  'P00220342',
  'P00325742',
  'P00319142',
  'P00251842',
  'P00113242',
  'P00271942',
  'P00023642',
  'P00185442',
  'P00189842',
  'P00261442',
  'P00330442',
  'P00338442',
  'P00359642',
  'P00212642',
  'P00332342',
  'P00269342',
  'P00271042',
  'P00002442',
  'P00059742',
  'P00149442',
  'P00187442',
  'P00192642',
  'P00156742',
  'P00240042',
  'P00145742',
  'P00247142',
  'P00345642',
  'P00289342',
  'P00304042',
  'P00233542',
  'P00130442',
  'P00188542',
  'P00248742',
  'P00114942',
  'P00111842',
  'P00337842',
  'P00313242',
  'P00295742',
  'P00037142',
  'P00192942',
  'P00280842',
  'P00355242',
  'P00339742',
  'P00280442',
  'P00310842',
  'P00052642',
  'P00241442',
  'P00219942',
  'P0096042',
  'P00049642',
  'P00255342',
  'P00205842',
  'P00115342',
  'P00054242',
  'P00307342',
  'P00005942',
  'P00074442',
  'P00297342',
  'P00232642',
  'P00332442',
  'P00285842',
  'P00186142',
  'P00010742',
  'P00089342',
  'P00182142',
  'P00212342',
  'P00002142',
  'P00113642',
  'P00154542',
  'P00220642',
  'P00045142',
  'P00224142',
  'P00183542',
  'P00158542',
  'P00331942',
  'P00029742',
  'P0096642',
  'P00205942',
  'P00359742',
  'P00299442',
  'P00002542',
  'P00053942',
  'P00086042',
  'P00327542',
  'P00225842',
  'P00282442',
  'P00150142',
  'P00181542',
  'P00284742',
  'P00228642',
  'P00188442',
  'P00138442',
  'P00020342',
  'P00198142',
  'P00265942',
  'P00086142',
  'P00004442',
  'P00127742',
  'P00352742',
  'P00352142',
  'P00015542',
  'P00311542',
  'P00110742',
  'P00271742',
  'P00110342',
  'P00150642',
  'P00358442',
  'P00053042',
  'P00274142',
  'P00085542',
  'P00117742',
  'P00054042',
  'P00320742',
  'P00261842',
  'P00062742',
  'P00346942',
  'P00036842',
  'P00245642',
  'P00049842',
  'P00285442',
  'P00208942',
  'P00089442',
  'P00129942',
  'P00034742',
  'P00274642',
  'P00047042',
  'P00004542',
  'P00003642',
  'P00334142',
  'P00157542',
  'P00210342',
  'P00181642',
  'P00173542',
  'P00366842',
  'P00144042',
  'P00128042',
  'P00004642',
  'P00129542',
  'P0099042',
  'P00004342',
  'P00187242',
  'P00105142',
  'P00278942',
  'P00240142',
  'P00119742',
  'P00228042',
  'P00021742',
  'P00084642',
  'P00333642',
  'P00158042',
  'P00028242',
  'P00275842',
  'P00216942',
  'P00181942',
  'P00302342',
  'P00064042',
  'P00001742',
  'P00110542',
  'P00195642',
  'P00041342',
  'P00192042',
  'P00176642',
  'P00064142',
  'P00228142',
  'P00347642',
  'P00269042',
  'P00167742',
  'P00248942',
  'P00124542',
  'P00329442',
  'P00273542',
  'P00281542',
  'P00240442',
  'P00369742',
  'P0096742',
  'P00320842',
  'P00273442',
  'P00065242',
  'P00189642',
  'P00279842',
  'P00079942',
  'P00125542',
  'P00169642',
  'P00011942',
  'P00010942',
  'P00087342',
  'P00136342',
  'P00244042',
  'P00335542',
  'P00294042',
  'P00256642',
  'P00138542',
  'P00187842',
  'P00319042',
  'P00216342',
  'P00059642',
  'P00128342',
  'P00278242',
  'P00093342',
  'P00090542',
  'P00074142',
  'P00184542',
  'P00186342',
  'P00105342',
  'P00015442',
  'P00050642',
  'P00120042',
  'P00236542',
  'P00028442',
  'P00104942',
  'P00184142',
  'P00347942',
  'P00330242',
  'P00353542',
  'P00282042',
  'P00308342',
  'P00298942',
  'P00050442',
  'P00078742',
  'P00345842',
  'P00226342',
  'P00261542',
  'P00122442',
  'P00324442',
  'P00197042',
  'P00232742',
  'P00351142',
  'P00014542',
  'P00218342',
  'P00319642',
  'P00008742',
  'P00053742',
  'P00289842',
  'P00109142',
  'P00254642',
  'P00277542',
  'P00202542',
  'P00175542',
  'P00370293',
  'P00252442',
  'P00307542',
  'P00052142',
  'P00118142',
  'P00221542',
  'P00328042',
  'P00004942',
  'P00110842',
  'P00279442',
  'P00102242',
  'P00182542',
  'P00309242',
  'P00048742',
  'P00187942',
  'P00168742',
  'P00016642',
  'P00056842',
  'P00198242',
  'P00211242',
  'P00266642',
  'P00111942',
  'P00173242',
  'P00221042',
  'P00317442',
  'P00283342',
  'P00167942',
  'P00051642',
  'P00284642',
  'P00220742',
  'P00121642',
  'P00050742',
  'P00349342',
  'P00269942',
  'P00118042',
  'P00119442',
  'P00289042',
  'P00355342',
  'P00150042',
  'P00009342',
  'P00120242',
  'P00254342',
  'P00120742',
  'P00085342',
  'P00042542',
  'P00227742',
  'P00126542',
  'P00075542',
  'P0096542',
  'P00296542',
  'P00101842',
  'P00079742',
  'P00046242',
  'P00195942',
  'P00325242',
  'P00209542',
  'P0009842',
  'P00328742',
  'P00183942',
  'P00327442',
  'P00175942',
  'P00338542',
  'P00328942',
  'P00076042',
  'P00217542',
  'P00023042',
  'P00287242',
  'P00227842',
  'P00195242',
  'P00014042',
  'P00297042',
  'P00048442',
  'P0096942',
  'P00300042',
  'P00324742',
  'P00153842',
  'P00109842',
  'P00082842',
  'P00265442',
  'P00042142',
  'P00343042',
  'P00129342',
  'P00058442',
  'P00354342',
  'P00033342',
  'P00034342',
  'P00001942',
  'P00238742',
  'P00283142',
  'P00107542',
  'P00016042',
  'P00036442',
  'P00303042',
  'P00308642',
  'P00054942',
  'P00008442',
  'P00125342',
  'P00251742',
  'P00114142',
  'P00306442',
  'P00139942',
  'P00079142',
  'P00178942',
  'P00311642',
  'P00155442',
  'P00197942',
  'P00006442',
  'P00335942',
  'P00262342',
  'P00261142',
  'P00159442',
  'P00191642',
  'P00164642',
  'P00184442',
  'P00021942',
  'P00139542',
  'P0094642',
  'P00249142',
  'P00307442',
  'P0095742',
  'P00369142',
  'P00227642',
  'P00251942',
  'P00087242',
  'P00363442',
  'P00048142',
  'P00237042',
  'P00102842',
  'P00148742',
  'P00018542',
  'P00158442',
  'P00022742',
  'P00116242',
  'P00322342',
  'P00258942',
  'P00116042',
  'P00245042',
  'P00273742',
  'P00117042',
  'P00246842',
  'P00046442',
  'P00215242',
  'P00227942',
  'P00234642',
  'P00187342',
  'P00193942',
  'P00243442',
  'P00131542',
  'P00292342',
  'P00224842',
  'P00318842',
  'P00161442',
  'P00162642',
  'P00087642',
  'P00148842',
  'P00346042',
  'P00239242',
  'P00217842',
  'P00125942',
  'P00037442',
  'P00070342',
  'P00146442',
  'P00042042',
  'P00224042',
  'P00130642',
  'P00226742',
  'P00047742',
  'P00262242',
  'P00366542',
  'P00196042',
  'P00264642',
  'P00100642',
  'P00035642',
  'P00117842',
  'P00241242',
  'P00162442',
  'P00138342',
  'P00208542',
  'P00077042',
  ...],
 'Gender': ['M', 'F'],
 'Age': ['36-45', '26-35', '18-25', '46-50', '55+', '51-55', '0-17'],
 'City_Category': ['A', 'B', 'C'],
 'Stay_In_Current_City_Years': ['1', '3', '0', '4+', '2']}

In [15]:
age_map = {
    '0-17': 1,
    '18-25': 2,
    '26-35': 3,
    '36-45': 4,
    '46-50': 5,
    '51-55': 6,
    '55+': 7
}

data['Gender'] = data['Gender'].map({'F':0,'M':1})
data['Age'] = data['Age'].map(age_map)
data.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
291698,1002994,P00170342,1,4,5,A,1,1,1,15.0,NaN,11390
427417,1005801,P00019342,1,3,16,B,3,0,1,6.0,15.0,11731
310208,1005801,P00220242,1,3,16,B,3,0,3,12.0,NaN,10935
448269,1003060,P00066742,0,4,1,C,3,1,13,16.0,NaN,576
403495,1002029,P00137242,0,3,12,A,0,0,5,NaN,NaN,1827

In [16]:
data['City_Category'] = data["City_Category"].map({'A':1,'B':2,'C':3})
data.drop(columns=['User_ID'], inplace=True)
data.head(5)

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
291698,P00170342,1,4,5,1,1,1,1,15.0,NaN,11390
427417,P00019342,1,3,16,2,3,0,1,6.0,15.0,11731
310208,P00220242,1,3,16,2,3,0,3,12.0,NaN,10935
448269,P00066742,0,4,1,3,3,1,13,16.0,NaN,576
403495,P00137242,0,3,12,1,0,0,5,NaN,NaN,1827

In [17]:
data["Stay_In_Current_City_Years"] = data["Stay_In_Current_City_Years"].replace('4+','4')
data["Stay_In_Current_City_Years"] = pd.to_numeric(data["Stay_In_Current_City_Years"])
data.head(5)

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
291698,P00170342,1,4,5,1,1,1,1,15.0,NaN,11390
427417,P00019342,1,3,16,2,3,0,1,6.0,15.0,11731
310208,P00220242,1,3,16,2,3,0,3,12.0,NaN,10935
448269,P00066742,0,4,1,3,3,1,13,16.0,NaN,576
403495,P00137242,0,3,12,1,0,0,5,NaN,NaN,1827

In [18]:
data["Product_Category_3"].fillna(data["Product_Category_3"].mode()[0],inplace = True)
data["Product_Category_2"].fillna(data["Product_Category_2"].mode()[0],inplace = True)

In [19]:
data.drop(columns = ["Product_ID"], inplace = True)
data.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
291698,1,4,5,1,1,1,1,15.0,16.0,11390
427417,1,3,16,2,3,0,1,6.0,15.0,11731
310208,1,3,16,2,3,0,3,12.0,16.0,10935
448269,0,4,1,3,3,1,13,16.0,16.0,576
403495,0,3,12,1,0,0,5,8.0,16.0,1827

In [20]:
data["Purchase"] = np.log1p(data["Purchase"].values)

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Use only first 10,000 rows to save memory
data_subset = data.head(10000)

# Target and features
target_column = "Purchase"
y = data_subset[target_column]
X = data_subset.drop(columns=[target_column])

# Convert categorical features to dummy/one-hot encoding
X = pd.get_dummies(X, drop_first=True)

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Initialize Gradient Boosting Regressor
gbr = GradientBoostingRegressor(
    n_estimators=500,       # number of boosting stages
    learning_rate=0.05,     # small steps for better performance
    max_depth=4,            # shallow trees to reduce overfitting
    random_state=42
)

# Train the model
gbr.fit(X_train, y_train)

# Make predictions
y_pred = gbr.predict(X_test)

# Evaluate performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

eval = pd.DataFrame({"test": y_test, "pred": y_pred})

print(f"Mean Squared Error: {mse**0.5}")
print(f"R Score: {r2}")

# Feature importance
importances = pd.DataFrame({
    "Feature": X.columns,
    "Importance": gbr.feature_importances_
}).sort_values(by="Importance", ascending=False)
print(importances.head(20))
eval.head(20)

Mean Squared Error: 0.3775377221232161
R Score: 0.7538286149237868
                      Feature  Importance
6          Product_Category_1    0.946077
7          Product_Category_2    0.011108
2                  Occupation    0.011025
1                         Age    0.009026
8          Product_Category_3    0.006617
4  Stay_In_Current_City_Years    0.005491
3               City_Category    0.005456
0                      Gender    0.002968
5              Marital_Status    0.002231

            test      pred
520118  8.547528  8.704285
379301  8.609043  8.635656
453717  8.975630  9.298593
110588  8.865594  8.683028
367700  9.200492  8.895050
280480  9.004914  8.852258
394382  9.280333  9.220488
179400  9.351666  9.506530
356284  9.660333  9.477387
438256  8.872347  8.639708
292362  9.880321  9.478604
37216   9.378309  9.541191
258107  9.369479  9.374310
172554  9.344609  9.668067
109177  8.774004  9.024686
239880  8.961751  9.432881
425347  9.063463  9.501595
509473  9.188299  8.912579
57355   8.398635  9.560475
479007  8.959312  8.829519